<p id="notice"><%= notice %></p>

<p>
  <strong>Log message:</strong>
  <%= @climate.log_message %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @climate.temperature %>
</p>

<%= link_to 'Edit', edit_climate_path(@climate) %> |
<%= link_to 'Back', climates_path %>
